In [526]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np 
%matplotlib inline
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn import metrics
import pickle

import requests

In [679]:
data = pd.read_csv('http://3e9387c7.ngrok.io/get_data')

In [680]:
data

Empty DataFrame
Columns: [x, y, z]
Index: []

In [201]:
# data.to_csv('gesture_decline.csv')

In [667]:
gesture1 = pd.read_csv('gesture_accept.csv')
gesture2 = pd.read_csv('gesture_decline.csv')

#### training data prepocessing

In [684]:
gesture1[:11]

    Unnamed: 0         x         y         z
0            0  0.000000  0.000000  0.000000
1            1 -0.064209  0.028076  0.154785
2            2 -0.645020 -0.220459  0.068604
3            3  2.791260 -0.025879  0.772705
4            4 -0.729736 -0.090332  0.064453
5            5 -0.746582 -0.261719  0.439941
6            6  3.005859  0.010254 -0.577637
7            7 -1.071533 -0.062988  0.036377
8            8  1.220459  0.320312  0.131836
9            9  2.091309  0.002686 -0.514893
10          10 -1.257812 -0.418701 -0.075439

In [671]:
a = gesture1.loc[:10]

In [662]:
gesture1.any(1)

0       False
1        True
2        True
3        True
4        True
        ...
2996     True
2997     True
2998     True
2999     True
3000     True
Length: 3001, dtype: bool

In [666]:
(gesture1[:10] == 0).all(1)

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [623]:
gesture1.loc[(gesture1==0).any(1)]

      Unnamed: 0    x    y    z
0              0  0.0  0.0  0.0
100          100  0.0  0.0  0.0
202          202  0.0  0.0  0.0
303          303  0.0  0.0  0.0
406          406  0.0  0.0  0.0
510          510  0.0  0.0  0.0
615          615  0.0  0.0  0.0
721          721  0.0  0.0  0.0
828          828  0.0  0.0  0.0
936          936  0.0  0.0  0.0
1045        1045  0.0  0.0  0.0

In [183]:
# 1 = accept, 2 = decline

gesture1 = gesture1.drop(columns=['Unnamed: 0'])
gesture2 = gesture2.drop(columns=['Unnamed: 0'])

drop_zeros = gesture1.loc[(gesture1==0).any(1)].index
gesture1 = gesture1.drop(drop_zeros, axis=0)
gesture1= gesture1.reset_index(drop=True)

drop_zeros = gesture2.loc[(gesture2==0).any(1)].index
gesture2 = gesture2.drop(drop_zeros, axis=0)
gesture2= gesture2.reset_index(drop=True)


gesture1['label'] = 0
gesture2['label'] = 1

In [185]:
gesture1

             x         y         z  label
0    -0.064209  0.028076  0.154785      0
1    -0.645020 -0.220459  0.068604      0
2     2.791260 -0.025879  0.772705      0
3    -0.729736 -0.090332  0.064453      0
4    -0.746582 -0.261719  0.439941      0
...        ...       ...       ...    ...
2985  2.043213  0.385010 -0.200928      0
2986  1.554932 -0.094482 -0.130371      0
2987 -0.460938 -0.301270  0.155762      0
2988  1.853760  0.293457 -0.322021      0
2989  1.347656 -0.093262 -0.074707      0

[2990 rows x 4 columns]

In [186]:
gesture1 = gesture1.loc[:2980]
gesture2 = gesture2.loc[:2470]

dataset = gesture1.append(gesture2)

dataset= dataset.reset_index(drop=True)

### Preprocessing 1

In [187]:
labels = dataset['label'].to_numpy()
labels = labels[:-9:10]

dataset = dataset[['x','y','z']]

In [188]:
dataset

             x         y         z
0    -0.064209  0.028076  0.154785
1    -0.645020 -0.220459  0.068604
2     2.791260 -0.025879  0.772705
3    -0.729736 -0.090332  0.064453
4    -0.746582 -0.261719  0.439941
...        ...       ...       ...
5447 -0.494141 -0.026123  0.815186
5448  0.570068 -0.179443  0.455078
5449  2.004395 -0.074951 -0.950439
5450  0.312500 -0.072021  0.212891
5451  0.654541 -0.077148  0.554199

[5452 rows x 3 columns]

In [189]:
labels.size

545

In [190]:
dataset = dataset.loc[:5450]

In [191]:
dataset

             x         y         z
0    -0.064209  0.028076  0.154785
1    -0.645020 -0.220459  0.068604
2     2.791260 -0.025879  0.772705
3    -0.729736 -0.090332  0.064453
4    -0.746582 -0.261719  0.439941
...        ...       ...       ...
5446  1.616211 -0.020020 -1.242920
5447 -0.494141 -0.026123  0.815186
5448  0.570068 -0.179443  0.455078
5449  2.004395 -0.074951 -0.950439
5450  0.312500 -0.072021  0.212891

[5451 rows x 3 columns]

### Preprocessing 2

In [192]:
frames = []
def frame():
    n=0
    while n != len(dataset)-1:
        frames.append(dataset.loc[n:n+1].to_numpy())
        n += 1
    else:
        return frames

In [193]:
gest_frames = frame()

In [194]:
len(gest_frames)

5450

### Peprocessing 3 > FFT, feature extraction and feature vector

In [195]:
def fft_transform(frame_data):
    
    fft_transform.feature_set = np.array([])
    
    for frame in frame_data:
        
        frame_feature_set = np.array([])
        
        fft_frame = np.fft.fft(frame, axis=0)
#         fft_transform.fft_data.append(fft_frame)
        
#         n = frame.size
#         freq = np.fft.fftfreq(n, d=0.01)
#         fft_transform.fft_freq.append(freq)
        
#         fft_ps = np.abs(fft_frame)**2
#         fft_transform.fft_power_spec.append(fft_ps)
        
        mean = np.mean(fft_frame, axis=0)
        frame_feature_set = np.concatenate((frame_feature_set, mean), axis=0)
        
        
        energy = (np.sum((fft_frame**2),axis=0))/len(fft_frame)
        frame_feature_set = np.concatenate((frame_feature_set, energy), axis=0)
        
        
        stdev = np.std(fft_frame, axis=0)
        frame_feature_set = np.concatenate((frame_feature_set, stdev), axis=0)
        
        
        correlation = np.corrcoef(fft_frame, rowvar=False).reshape(3,3)
        frame_feature_set = np.concatenate((frame_feature_set.reshape(3,3), correlation), axis=0)
        
        fft_transform.feature_set = np.concatenate((frame_feature_set.flatten(), fft_transform.feature_set), axis=0)
    
#  make a simple array         

    return fft_transform.feature_set

In [556]:
fft_transform(gest_frames)

array([ 2.00439453+0.j, -0.07495117+0.j, -0.95043945+0.j, ...,
       -1.        +0.j, -1.        +0.j,  1.        +0.j])

### Training data set

In [409]:
n = int((fft_transform.feature_set.size)/180)
axis = 3
feature_10axis = 60
fft_transform.feature_set = fft_transform.feature_set.reshape(n,(feature_10axis*axis))
X = np.abs(fft_transform.feature_set)
y = labels

In [410]:
y.shape

(545,)

In [551]:
X[1]

array([0.8215332 , 0.01879883, 0.42553711, 3.43184626, 0.02356201,
       0.58215171, 1.66040039, 0.15234375, 0.63330078, 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 0.3737793 , 0.14208984,
       0.16918945, 0.81462777, 0.02054292, 0.2097069 , 0.8215332 ,
       0.01879883, 0.42553711, 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.21655273, 0.30664062, 0.28100586, 1.61971152,
       0.114218  , 0.10758936, 0.3737793 , 0.14208984, 0.16918945,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 0.36889648,
       0.15087891, 0.82226562, 1.61608517, 0.11679292, 0.75508505,
       1.21655273, 0.30664062, 0.28100586, 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.37353516, 0.12451172, 0.84106445,
       2.02268344, 0.03826761, 1.38351017, 0.36889648, 0.15087891,
       0.82226562, 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       0.46337891, 0.23901367, 0.76220703, 2.10131884, 0.0726307 ,
       1.28834897, 1.37353516, 0.12451172, 0.84106445, 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 0.015625  , 0.24926758,
       0.92602539, 0.21496415, 0.11926186, 1.43848258, 0.46337891,
       0.23901367, 0.76220703, 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 0.55200195, 0.08618164, 0.67602539, 0.3049503 ,
       0.0695616 , 1.31453335, 0.015625  , 0.24926758, 0.92602539,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 0.84106445,
       0.31738281, 0.82592773, 1.01209557, 0.10815912, 1.13916695,
       0.55200195, 0.08618164, 0.67602539, 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 0.23852539, 0.36328125, 1.28979492,
       0.76428378, 0.23270512, 2.34572756, 0.84106445, 0.31738281,
       0.82592773, 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ])

In [541]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [542]:
C = 0.1
clf = svm.SVC(kernel='poly',C=C, probability=True)
clf.fit(X_train, y_train)

/Users/martinantos/opt/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=0.1, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='poly', max_iter=-1, probability=True, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [543]:
with open('/Users/martinantos/Documents/school/IoT/Panache/clf.pickle', 'wb') as f:
    pickle.dump(clf, f)

In [544]:
model = pickle.dumps(clf)

In [545]:
# clftest = pickle.loads(model)

In [546]:
# clftest.predict(X.reshape(1,-1))

In [547]:
y_pred = clf.predict(X_test)

In [548]:
print("accuracy:", metrics.accuracy_score(y_test, y_pred))
print("Precision:",metrics.precision_score(y_test, y_pred))
print("Recall:",metrics.recall_score(y_test, y_pred))

accuracy: 0.9541284403669725
Precision: 0.9056603773584906
Recall: 1.0

In [511]:
# 1 = accetpt, 
def clfout(sample):
    sample = sample.reshape(1,-1)
    if clf.decision_function(sample) <=(-1.2):
        return 1
    elif clf.decision_function(sample) >= 1.0:
        return 2 
    else:
        return 0

In [525]:
clfout(X[356])

2

In [510]:
clf.decision_function(X).max()

5.006824207538445

In [504]:
clf.decision_function(X)

array([-1.00013704, -1.36967167, -1.29377807, -2.00024957, -1.07263898,
       -1.02405042, -1.97569432, -2.05931219, -1.29023245, -1.42848515,
       -1.42992087, -0.8875324 , -1.71344709, -1.60367419, -1.90991305,
       -0.97405165, -1.97302585, -1.40037917, -1.36782399, -1.80207238,
       -1.56918316, -0.79874479, -1.52952697, -1.54467402, -2.10057753,
       -0.81397593, -2.17558273, -1.78192584, -1.88861074, -1.56609852,
       -1.05444061, -0.99994218, -1.53095592, -1.00038054, -1.77572437,
       -1.47920484, -1.28055973, -1.5533746 , -2.6023298 , -1.09390969,
       -2.36064849, -1.00013704, -1.36967167, -1.29377807, -2.00024957,
       -1.07263898, -1.02405042, -1.97569432, -2.05931219, -1.29023245,
       -2.27437666, -1.00013704, -1.36967167, -1.29377807, -2.00024957,
       -1.07263898, -1.02405042, -1.97569432, -2.05931219, -1.29023245,
       -1.93410539, -1.78060517, -2.00065274, -2.49952814, -2.33225689,
       -3.70645188, -2.78580244, -1.30455404, -2.7221272 , -2.12076444,
       -2.21912889, -1.23659576, -2.44363824, -2.56705172, -1.52709974,
       -4.47769666, -2.66462315, -1.4920096 , -2.30529746, -2.38928393,
       -1.67715064, -2.80155993, -2.5261451 , -1.84645573, -2.06408245,
       -3.07178138, -4.00114888, -2.70672516, -0.96309108, -3.06804244,
       -1.84047164, -1.81149514, -1.08845336, -3.27101209, -2.09221121,
       -2.01149516, -2.54233419, -3.0183574 , -0.9999683 , -2.23266599,
       -2.07896999, -2.26510765, -1.00017793, -2.42045729, -2.64637193,
       -1.80723918, -4.2699122 , -1.67101292, -2.02059347, -2.40478304,
       -1.8672152 , -2.21687055, -1.0440952 , -2.44363824, -2.56705172,
       -1.52709974, -4.47769666, -2.66462315, -1.4920096 , -2.30529746,
       -2.38928393, -1.67715064, -2.51762167, -2.44363824, -2.56705172,
       -1.52709974, -4.47769666, -2.66462315, -1.4920096 , -2.30529746,
       -2.38928393, -1.67715064, -3.0249974 , -3.10887885, -3.39902629,
       -3.48294185, -3.69584411, -3.81433025, -4.39886863, -3.30392489,
       -2.81808352, -3.87147123, -4.72655851, -5.79640223, -3.45438779,
       -4.25981881, -2.81584676, -3.53823903, -3.41739343, -5.53272975,
       -2.58198767, -3.95308405, -3.01509452, -6.58575593, -5.74201157,
       -5.364558  , -3.01023778, -2.71556967, -3.59722803, -3.89133405,
       -4.23893666, -2.17108644, -4.11652569, -3.19891419, -7.48281819,
       -2.73399668, -4.08696652, -3.40162135, -3.11193176, -3.83973217,
       -4.31811536, -2.56483111, -2.26284755, -4.79570663, -3.80389732,
       -4.97520915, -5.10830337, -3.10087707, -2.87445787, -3.33561206,
       -4.77135478, -3.992334  , -1.37220613, -5.29239904, -3.74909723,
       -7.84691775, -3.22943607, -3.39902629, -3.48294185, -3.69584411,
       -3.81433025, -4.39886863, -3.30392489, -2.81808352, -3.87147123,
       -4.72655851, -6.61465577, -3.09295594, -2.9641984 , -2.86985116,
       -3.23740432, -4.2754876 , -4.78702744, -2.33077616, -4.25006955,
       -4.63960782, -5.79053406, -5.364558  , -3.01023778, -2.71556967,
       -3.59722803, -3.89133405, -4.23893666, -2.17108644, -4.11652569,
       -3.19891419, -7.61491142, -5.10830337, -3.10087707, -2.87445787,
       -3.33561206, -4.77135478, -3.992334  , -1.37220613, -5.29239904,
       -3.74909723, -7.84691775, -4.81154169, -3.10087707, -2.87445787,
       -3.33561206, -4.77135478, -3.992334  , -1.37220613, -5.29239904,
       -3.74909723, -7.84691775, -4.93281694, -3.01023778, -2.71556967,
       -3.59722803, -3.89133405, -4.23893666, -2.17108644, -4.11652569,
       -3.19891419, -7.31436215,  1.25036668,  0.99309533,  1.00027133,
        1.22584745,  0.87486833,  1.06268488,  1.16986297,  0.87958023,
        0.51388936,  1.27644774,  1.60295914,  0.8793972 ,  0.90561915,
        1.02739087,  1.28492943,  0.9415105 ,  0.95865408,  0.7451367 ,
        0.80882655,  0.4660598 ,  1.54149529,  0.95461845,  1.10500859,
        0.98014958,  1.23009483,  0.72629438,  1.01944116,  0.99462893,
        0.71062624,  0.99655457,  1.14543225,  1.51112347,  1.11360791,
        0.85644311,  1.11392855,  1.13275446,  1.22808009,  1.03151099,
        0.71225921,  0.97608957,  1.01833432,  1.25036668,  0.99309533,
        1.00027133,  1.22584745,  0.87486833,  1.06268488,  1.16986297,
        0.87958023,  0.51388936,  0.92205492,  1.25036668,  0.99309533,
        1.00027133,  1.22584745,  0.87486833,  1.06268488,  1.16986297,
        0.87958023,  0.51388936,  0.66806313,  0.69740884,  0.83747603,
        0.79928022,  0.9259202 ,  0.99993573,  0.98625193,  0.74172251,
        1.00024228,  0.99963813,  1.13457895,  0.88613499,  0.820179  ,
        1.09781156,  0.80356958,  0.91168451,  0.89232746,  0.74732665,
        0.9999621 ,  1.48060423,  1.02833538,  0.65061691,  0.72898864,
        1.03910818,  0.86183035,  1.00008164,  0.99992557,  0.73574711,
        1.11292913,  0.94007718,  1.00018196,  1.18413474,  0.87214766,
        0.97491238,  0.99971598,  0.90820134,  1.02720909,  0.98864579,
        0.72576995,  1.02422994,  1.11608783,  0.99977901,  0.87214766,
        0.97491238,  0.99971598,  0.90820134,  1.02720909,  0.98864579,
        0.72576995,  1.02422994,  1.11608783,  1.00056861,  1.00011859,
        0.67380074,  1.0036072 ,  1.13504425,  1.26866737,  1.15502013,
        0.62611678,  0.94840227,  1.17888915,  1.11561268,  1.09055478,
        1.06290921,  1.00008643,  1.05516116,  1.21406305,  1.0979358 ,
        1.24967591,  0.99999354,  1.07430373,  1.64747557,  0.99985776,
        0.92601426,  1.00036572,  1.27443774,  1.17469806,  1.37380454,
        1.33106886,  0.89989416,  0.96630708,  1.11679874,  1.41575528,
        1.00058542,  1.08416906,  1.00998338,  1.21985664,  1.17813597,
        1.25750445,  1.23982362,  1.11471789,  1.09282973,  1.48710835,
        1.03497661,  1.20530778,  1.03928927,  1.03643976,  1.18310276,
        1.18593445,  0.98382031,  0.93162393,  1.14647265,  1.00012421,
        0.80277566,  1.06290921,  1.00008643,  1.05516116,  1.21406305,
        1.0979358 ,  1.24967591,  0.99999354,  1.07430373,  1.64747557,
        1.14922184,  1.06290921,  1.00008643,  1.05516116,  1.21406305,
        1.0979358 ,  1.24967591,  0.99999354,  1.07430373,  1.64747557,
        0.99965617,  1.41188899,  1.1009393 ,  1.26335787,  1.3616155 ,
        1.00041197,  1.0741544 ,  1.21834408,  1.21069561,  1.40890539,
        1.70440069,  0.62180472,  1.572329  ,  1.38297533,  1.1163615 ,
        1.26125945,  1.27352676,  1.31148002,  1.26165633,  1.10116643,
        1.00237591,  1.34081157,  0.79573884,  1.65689921,  1.43104363,
        1.43340541,  1.4609167 ,  1.34965054,  1.36385217,  1.54495215,
        0.99963601,  1.00002016,  1.11959102,  1.28055279,  1.62566634,
        1.23001883,  1.11034607,  1.21478419,  1.39415618,  1.19043455,
        1.33457556,  1.17618053,  1.32593856,  0.94402472,  1.15658504,
        1.00016152,  1.48516114,  1.00060343,  1.36140214,  1.11400099,
        1.1066366 ,  1.00513882,  1.17771377,  1.51977578,  1.50669207,
        1.1009393 ,  1.26335787,  1.3616155 ,  1.00041197,  1.0741544 ,
        1.21834408,  1.21069561,  1.40890539,  1.70440069,  0.77952871,
        1.00002924,  1.91722369,  1.55275041,  1.04227254,  1.44512945,
        1.09496819,  1.04337299,  1.44079842,  1.49592617,  1.14763566,
        1.65689921,  1.43104363,  1.43340541,  1.4609167 ,  1.34965054,
        1.36385217,  1.54495215,  0.99963601,  1.00002016,  1.11959102,
        1.6421746 ,  1.43104363,  1.43340541,  1.4609167 ,  1.34965054,
        1.36385217,  1.54495215,  0.99963601,  1.00002016,  1.11959102,
        1.17007109,  1.00016152,  1.48516114,  1.00060343,  1.36140214,
        1.11400099,  1.1066366 ,  1.00513882,  1.17771377,  1.51977578,
        1.64048297,  1.43104363,  1.43340541,  1.4609167 ,  1.34965054,
        1.36385217,  1.54495215,  0.99963601,  1.00002016,  1.11959102])

In [405]:
clf.predict(X[65].reshape(1,-1))

array([0])

In [406]:

clf.decision_function(X[65].reshape(1,-1))

array([-2.35995993])